<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Syncfusion.Compression.Base" version="20.2.0.45" targetFramework="net461" />
  <package id="Syncfusion.Licensing" version="20.2.0.45" targetFramework="net461" />
  <package id="Syncfusion.Pdf.WinForms" version="20.2.0.45" targetFramework="net461" />
</packages>