@{
    ViewBag.Title = "Home Page";
}

@{Html.BeginForm("MergePDFDocuments", "Home", FormMethod.Get);
    {
         <div>
           <input type="submit" value="Merge PDF documents from stream" style="width:250px;height:27px" />
         </div>
    }
}

