@{
	ViewBag.Title = "Home Page";
}

<div style="margin-top:20px;">
	@using (Html.BeginForm("ExtractTable", "Home", FormMethod.Get))
	{
		<input type="submit" value="Extract Table from PDF" style="width:220px;height:30px" />
	}
</div>
