<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.ML.OnnxRuntime" version="1.18.0" targetFramework="net472" />
  <package id="Microsoft.ML.OnnxRuntime.Managed" version="1.18.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net472" />
  <package id="Syncfusion.Compression.Base" version="33.1.47" targetFramework="net472" />
  <package id="Syncfusion.ImagePreProcessor.Wpf" version="33.1.47" targetFramework="net472" />
  <package id="Syncfusion.Licensing" version="33.1.47" targetFramework="net472" />
  <package id="Syncfusion.Pdf.OCR.Wpf" version="33.1.47" targetFramework="net472" />
  <package id="Syncfusion.Pdf.Wpf" version="33.1.47" targetFramework="net472" />
  <package id="Syncfusion.PdfToImageConverter.WPF" version="33.1.47" targetFramework="net472" />
  <package id="Syncfusion.SmartDataExtractor.Wpf" version="33.1.47" targetFramework="net472" />
  <package id="Syncfusion.SmartFormRecognizer.Wpf" version="33.1.47" targetFramework="net472" />
  <package id="Syncfusion.SmartTableExtractor.Wpf" version="33.1.47" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Memory" version="4.5.5" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net472" />
</packages>