<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://openandsavepdfdocument20230724182111.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/311705d2-1171-479e-a752-a273187dd3bf/resourcegroups/Open-and-save-PDF-document/providers/Microsoft.Web/sites/OpenandsavePDFdocument20230724182111</ResourceId>
    <UserName>$OpenandsavePDFdocument20230724182111</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://openandsavepdfdocument20230724182111.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>