@{
    Html.BeginForm("ExtractData", "Home", FormMethod.Get);
    {
        <div>
            <input type="submit" value="Extract Data from PDF" style="width:200px;height:27px" />
        </div>
    }
    Html.EndForm();
}
