<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://create-pdf-document20230720164910.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/311705d2-1171-479e-a752-a273187dd3bf/resourcegroups/Create-PDF-document-Windows/providers/Microsoft.Web/sites/Create-PDF-document20230720164910</ResourceId>
    <UserName>$Create-PDF-document20230720164910</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://create-pdf-document20230720164910.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>