<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/311705d2-1171-479e-a752-a273187dd3bf/resourcegroups/Create-PDF-document-Linux/providers/Microsoft.Web/sites/OpenandsavePDFdocument20230724153437</ResourceId>
    <ResourceGroup>Create-PDF-document-Linux</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://openandsavepdfdocument20230724153437.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>10c6b855-68c5-41b5-9e0e-72189f3e0417</ProjectGuid>
    <PublishUrl>https://openandsavepdfdocument20230724153437.scm.azurewebsites.net/</PublishUrl>
    <UserName>$OpenandsavePDFdocument20230724153437</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>