<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Syncfusion.ImagePreProcessor.AspNet.Mvc5" version="32.1.25" targetFramework="net472" />
  <package id="Syncfusion.Pdf.AspNet.Mvc5" version="32.1.25" targetFramework="net472" />
  <package id="Syncfusion.Pdf.OCR.AspNet.Mvc5" version="32.1.25" targetFramework="net472" />
</packages>