@page "/"

@using System.IO;
@using ServerSideApplication.Data
@inject ExportService service
@inject Microsoft.JSInterop.IJSRuntime JS

<h2>Syncfusion PDF Library (Essential PDF)</h2>
<p>The Syncfusion PDF Library is a robust and high-performance component for Blazor applications that enables developers to create, read, edit, and convert PDF documents programmatically.</p>
