<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/f2a6fc40-66ca-4ee9-82c9-b8f94b50111c/resourceGroups/CreatePdfDocument/providers/Microsoft.ContainerRegistry/registries/createpdfdocument20240918103106</ResourceId>
    <ResourceName>createpdfdocument20240918103106</ResourceName>
    <ResourceGroup>CreatePdfDocument</ResourceGroup>
    <Subscription>Visual Studio Professional Subscription</Subscription>
    <RegistryUrl>https://createpdfdocument20240918103106.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>35990be3-35c1-4443-b022-343d6ca429c2</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>